<%- include('partials/header') %>



    <a class="btn btn-light btn-lg" href="/users" role="button">USER SIGN-UP/LOGIN</a>
    <a class="btn btn-dark btn-lg" href="/admin" role="button">ADMIN</a>


<%- include('partials/footer') %>
